Kyle Timmermans (No Partner) (Rose Hill) - Prof. Mao - Lab 1 - 09/27/20

In [1]:
%load_ext sql

Connect to lab1.db3

In [2]:
%sql sqlite:///lab1.db3

'Connected: @lab1.db3'

Create table with vertices and edges

In [4]:
%sql create table MyGraph(vertices int, edges int);

 * sqlite:///lab1.db3
(sqlite3.OperationalError) table MyGraph already exists
[SQL: create table MyGraph(vertices int, edges int);]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

Start adding in vertex edge pairs here:

In [5]:
%sql insert into MyGraph values(3,8);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [6]:
%sql insert into MyGraph values(3,10);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [7]:
%sql insert into MyGraph values(8,9);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [8]:
%sql insert into MyGraph values(7,8);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [9]:
%sql insert into MyGraph values(7,11);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [10]:
%sql insert into MyGraph values(11,2);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [11]:
%sql insert into MyGraph values(11,9);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [12]:
%sql insert into MyGraph values(11,10);

 * sqlite:///lab1.db3
1 rows affected.

[]

In [13]:
%sql insert into MyGraph values(5,11);

 * sqlite:///lab1.db3
1 rows affected.

[]

Source vertices - Vertices that have no edges attached to it other than the ones that it extends from itself

In [14]:
%sql select distinct x.vertices from MyGraph x where x.vertices not in (select y.edges from MyGraph y);

 * sqlite:///lab1.db3
Done.

[(3,), (7,), (5,)]

Only vertex 11 has a larger id than it's child

In [15]:
%sql select vertices, edges from MyGraph z where vertices > edges;

 * sqlite:///lab1.db3
Done.

[(11, 2), (11, 9), (11, 10)]

Add edge-weight column to table

In [16]:
%sql alter table MyGraph add column weight int;

 * sqlite:///lab1.db3
Done.

[]

Generate random seed with abs(random() % 11), 11 because starts from 1

In [17]:
%sql update MyGraph set weight = abs(random() % 11);

 * sqlite:///lab1.db3
9 rows affected.

[]

Print full table with vertices, edges, and weight columns

In [18]:
%sql select * from MyGraph;

 * sqlite:///lab1.db3
Done.

[(3, 8, 6),
 (3, 10, 6),
 (8, 9, 1),
 (7, 8, 3),
 (7, 11, 5),
 (11, 2, 7),
 (11, 9, 1),
 (11, 10, 5),
 (5, 11, 6)]