Kyle Timmermans (Rose Hill) - Prof. Mao - Lab 2 - 10/4/20

Connect to sql extension

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Q1: Create database called "lab2.db3"

In [3]:
%%sql sqlite:///lab2.db3

'Connected: @lab2.db3'

Q2: Create tables and insert values

In [4]:
%%sql sqlite://
    DROP TABLE IF EXISTS Sailors;
    CREATE TABLE Sailors (sid INTEGER, sname CHAR(20), rating INTEGER, age DECIMAL(3,1));
    INSERT INTO Sailors VALUES (22, 'dustin', 7, 45.0);
    INSERT INTO Sailors VALUES (31, 'lubber', 8, 55.5);
    INSERT INTO Sailors VALUES (58, 'rusty', 10, 35.0);
    -------
    DROP TABLE IF EXISTS Boats;
    CREATE TABLE Boats (bid INTEGER, name CHAR(20), color CHAR(20));
    INSERT INTO Boats VALUES (101, 'interlake', 'red');
    INSERT INTO Boats VALUES (103, 'clipper', 'green');
    -------
    DROP TABLE IF EXISTS Reserves;
    CREATE TABLE Reserves (sid INTEGER, bid INTEGER, day CHAR(20));
    INSERT INTO Reserves VALUES (22, 101, '10/10/96');
    INSERT INTO Reserves VALUES (58, 103, '11/12/96');

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.
Done.
Done.
1 rows affected.
1 rows affected.

[]

Q3: Find names of sailors who’ve reserved boat #103

In [10]:
%sql SELECT sname FROM Sailors S WHERE S.sid IN (SELECT R.sid FROM Reserves R WHERE R.bid=103);

 * sqlite:///lab2.db3
Done.

[('rusty',)]

Q4: Find names of sailors who’ve reserved a red boat

In [11]:
%sql SELECT S.sname FROM Sailors S, Boats B, Reserves R WHERE S.sid=R.sid AND R.bid=B.bid AND B.color='red'

 * sqlite:///lab2.db3
Done.

[('dustin',)]

Q5: Find names of sailors who’ve reserved a red or a green boat

Similar to previous statement but add OR color

In [12]:
%sql SELECT S.sname FROM Sailors S, Boats B, Reserves R WHERE S.sid=R.sid AND R.bid=B.bid AND (B.color='red' OR B.color='green')

 * sqlite:///lab2.db3
Done.

[('dustin',), ('rusty',)]

Q6: Find names of sailors who’ve reserved a red and a green boat

Going to need R2 and B2 for this one too (No sailor has reserved both colors so will only show sname)

In [13]:
%sql SELECT S.sname FROM Sailors S, Boats B, Reserves R, Boats B1, Reserves R1 WHERE S.sid=R.sid AND R.bid=B.bid AND S.sid=R1.sid AND R1.bid=B1.bid AND B.color='red' AND B1.color='green';

 * sqlite:///lab2.db3
Done.

[]

Q7: Find names of sailors who’ve reserved only red boats. (Hint: you can combine "NOT" and "IN"
operations.)

Double nested to get sname from R.sid

In [25]:
%sql SELECT sname FROM Sailors S WHERE S.sid IN (SELECT R.sid FROM Reserves R, Boats B WHERE B.color='red' AND B.bid=R.bid AND R.sid NOT IN (SELECT R1.sid FROM Reserves R1, Boats B1 WHERE B1.color<>'red' AND B1.bid = R1.bid));

 * sqlite:///lab2.db3
Done.

[('dustin',)]